@import "src/Styles/CommonColors.scss";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0px;
    height: 100vh;
}

.image-list__wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .image-list__filtration {
        width: 300px;
        height: 100%;
        background: whitesmoke;
    }
    .image-list__content {
        padding: 30px;
        width: 100%;

        .image-list__miniatures--wrapper {
            height: 90%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 20px;
            grid-auto-rows: minmax(100px, auto);
        }

        .image-list__pagination--wrapper {
            height: 10%;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            .image-list__pagination {
                margin-top: 10px;
            }
        }
    }
}
