@import "src/Styles/CommonColors.scss";

.map-modal__modal {
    position: absolute;
    outline: none;
    background: white;
    box-shadow: 0px 8px 40px $gray-background;
    border-radius: 16px;
    width: 80vw;
    height: 90vh;
    padding: 32px;
    left: 10%;
}
.map-modal__overlay {
    position: fixed;
    display: flex;
    inset: 0px;
    background-color: $modal-overlay-background;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.map-modal__map-wrapper {
    height: 95%;
    width: 100%;
    padding-top: 20px;
    font-size: 48px;
    justify-content: center;
}
