.image-item {
    display: flex;
    flex-direction: column;
    .image-item__label {
        font-size: 16px;
        font-weight: bold;
    }
    .image-item__image {
        max-height: 200px;
        max-width: 200px;
        object-fit: cover;
        object-position: center;
    }
}
